@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /* font: inherit; */
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

* {
  box-sizing: border-box;
}

:root {
  --main-color: white;
  --secondary-color: #a0a0a0;
  --hover-color: #96dcff;
}

strong {
  color: #eed6a4;
}

body {
  font-family: Montserrat, "sans-serif";
}

.container {
  display: flex;
  flex-flow: column nowrap;

  align-items: center;
  align-content: center;

  overflow: hidden;
  width: 100vw;
  height: fit-content;
  background: #1a1d1f;
  background: linear-gradient(
    90deg,
    rgba(26, 29, 31, 1) 0%,
    rgba(31, 38, 46, 1) 50%,
    rgba(23, 27, 36, 1) 100%
  );
}

header {
  display: flex;
  flex-flow: row nowrap;

  justify-content: center;
  align-items: center;
  align-content: center;

  width: 100vw;
  height: 5em;

  /* background-color: aqua; */
}

.main-nav {
  display: flex;
  flex-flow: row nowrap;

  justify-content: center;
  align-items: center;
  align-content: center;

  width: 40em;
  height: 5em;
}

.list-nav {
  display: flex;
  gap: 1em;
}

.list-nav-item {
  list-style: none;
  font-weight: 500;
  font-size: clamp(0.8rem, 0.729rem + 0.19vw, 0.9rem);
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.list-nav-item:hover {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
}

.link {
  text-decoration: none;
  color: var(--main-color);
  transition: color 0.3s ease-in-out;
}

.list-nav-item:hover .link {
  color: var(--hover-color);
}

.list-nav li a.active {
  color: #96dcff;
}

.introduccion {
  display: flex;
  flex-flow: column nowrap;

  justify-content: center;
  align-items: center;
  align-content: center;

  height: fit-content;

  margin-top: 2em;
  /* background-color: bisque; */
}

.imagen {
  display: flex;
  flex-flow: column nowrap;

  justify-content: top;
  align-items: left;
  align-content: center;

  width: 60em;
  height: 10em;

  /* background-color: rgb(179, 62, 163); */
}

.foto {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start; /* no existe 'top' */
  align-items: flex-start; /* no existe 'left' */
  align-content: center;

  width: 8em;
  height: 8em;

  background-image: url(./styles/images/5.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.texto-introduccion {
  display: flex;
  flex-flow: column nowrap;

  justify-content: top;
  align-items: left;
  align-content: center;

  width: 60em;
  height: 7em;

  /* background-color: rgb(212, 184, 209); */
}

.texto-introduccion h1 {
  font-weight: bold;
  font-size: clamp(1.7rem, 1.486rem + 0.571vw, 2rem);

  color: var(--main-color);

  margin-bottom: 0.7em;
}

.texto-introduccion p {
  font-size: clamp(1rem, 0.929rem + 0.19vw, 1.1rem);
  color: var(--main-color);
  line-height: 1.5em;
}

.contactame {
  display: flex;
  flex-flow: row nowrap;

  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;

  width: 60em;
  height: 4em;

  margin-top: 1em;
  /* background-color: aliceblue; */
}

.rectangulo {
  display: flex;
  flex-flow: row nowrap;

  justify-content: center;
  align-items: center;
  align-content: center;

  width: 12em;
  height: 2.4em;

  background-color: rgb(198, 199, 199);
  border-radius: 40px;

  margin-right: 1em;
}

.rectangulo p {
  padding: 1em 1em;
}

.cabecera-experiencia {
  display: flex;
  flex-flow: row nowrap;

  justify-content: flex-start;
  align-items: center;
  align-content: center;

  height: 5em;
  width: 60em;
  /* background-color: rgb(226, 218, 209); */

  margin-top: 2em;
  margin-bottom: 2em;
}

.cabecera-experiencia-laboral {
  display: flex;
  flex-flow: row nowrap;

  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
}

.cabecera-experiencia-laboral h3 {
  margin-top: 0.45em;
  margin-left: 0.3em;
  color: var(--main-color);

  font-size: clamp(1.3rem, 1.229rem + 0.19vw, 1.4rem);
}

.cabecera-experiencia-laboral svg {
  color: var(--main-color);
}

.experiencia {
  display: flex;
  flex-flow: row nowrap;

  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;

  height: 30em;
  width: 60em;
  /* background-color: bisque; */

  margin-top: 1em;
}

.linea-vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-around; /* Distribuye los puntos a lo largo de la línea */
  align-items: center;

  width: 0.1em;
  height: 30em;

  background-color: grey;
  /* opacity: 0.4; */
  position: relative;

  margin-left: 0.15em;
}

.punto {
  width: 0.9em;
  height: 0.9em;
  background-color: #eed6a4;
  border-radius: 50%; /* Hace que el div sea un círculo */
  /* opacity: 6; */
  /* border: 2px solid var(--main-color); */
}

.trabajos {
  display: flex;
  flex-direction: column;
  justify-content: space-around; /* Distribuye los puntos a lo largo de la línea */
  align-items: center;
  width: 20em;
  height: 50.8vh;

  /* background-color: grey; */
  /* opacity: 0.4; */
}

.trabajo1 h1,
.trabajo2 h1 {
  color: #eed6a4;
}

.trabajo1 h6,
.trabajo2 h6 {
  color: var(--main-color);
}

.trabajo1 p,
.trabajo2 p {
  color: var(--main-color);
}

.trabajo2 {
  margin-right: 3.2em;
}

.descripcion {
  display: flex;
  flex-direction: column;
  justify-content: space-around; /* Distribuye los puntos a lo largo de la línea */
  align-items: center;

  width: 40em;
  height: 50.8vh;

  margin-left: 7em;
  /* background-color: grey; */
  /* opacity: 0.4; */
}

.descripcion1 p,
.descripcion2 p {
  font-size: clamp(0.77rem, 0.699rem + 0.19vw, 0.87rem);
  color: var(--main-color);
  line-height: 2em;
}

.cabecera-proyectos {
  display: flex;
  flex-flow: row nowrap;

  justify-content: flex-start;
  align-items: center;
  align-content: center;

  height: 5em;
  width: 60em;
  /* background-color: rgb(226, 218, 209); */

  margin-top: 5em;
  margin-bottom: 2em;
}

.cabecera-proyectoss {
  display: flex;
  flex-flow: row nowrap;

  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
}

.cabecera-proyectoss h3 {
  margin-top: 0.45em;
  margin-left: 0.3em;
  color: var(--main-color);

  font-size: clamp(1.3rem, 1.229rem + 0.19vw, 1.4rem);
}

.cabecera-proyectoss svg {
  color: var(--main-color);
}

.proyectos {
  display: flex;
  flex-flow: column nowrap;

  justify-content: space-between;
  align-items: center;
  align-content: center;

  height: 180vh;
  width: 60em;
  /* background-color: rgb(207, 202, 195); */
}

.proyecto-biopark {
  display: flex;
  flex-flow: column nowrap;

  justify-content: center; /* Distribuye los puntos a lo largo de la línea */
  align-items: center;
  width: 60em;
  height: 50%;
}

.proyecto-2 {
  display: flex;
  flex-flow: column nowrap;

  justify-content: center; /* Distribuye los puntos a lo largo de la línea */
  align-items: center;
  width: 60em;
  height: 50%;
}

.fondo-biopark {
  display: flex;
  flex-flow: column nowrap;

  justify-content: center;
  align-items: center;
  align-content: center;

  width: 100%;
  height: 65%;

  background-image: url(./styles/images/proyecto\ biopark.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /* background-color: #eed6a4; */
  border-radius: 13px;
}

.texto-biopark {
  display: flex;
  flex-flow: column nowrap;

  justify-content: center; /* Distribuye los puntos a lo largo de la línea */
  align-items: center;
  align-content: center;

  width: 100%;
  height: 30%;
  /* background-color: pink; */
}

.texto-biopark p {
  line-height: 2em;
  color: grey;
  font-size: clamp(0.77rem, 0.699rem + 0.19vw, 0.87rem);
}

.texto-biopark h1 {
  color: var(--main-color);
  margin-top: 1em;
  margin-bottom: 1em;
}

.fondo-luxeaura {
  display: flex;
  flex-flow: column nowrap;

  justify-content: center;
  align-items: center;
  align-content: center;

  width: 100%;
  height: 65%;

  background-image: url(./styles/images/Luxeaura.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  border-radius: 13px;
}

footer {
  display: flex;
  flex-flow: row nowrap;

  justify-content: space-around;
  align-items: center;
  align-content: center;

  width: 60em;
  height: 10vh;
}

footer p {
  color: #e4e4e7e6;
      font-size: clamp(0.77rem, 0.699rem + 0.19vw, 0.87rem);

}

footer a {
  text-decoration: none;
}
